{% extends 'base_admin.html' %}

{% block content %}
<div class="admin-wrapper">
    <div class="left-sidebar">
        <ul>
            <li><a href="{% url 'manage_post' %}">Manage Posts</a></li>
            <li><a href="{% url 'manage_user' %}">Manage Users</a></li>
            <li><a href="{% url 'manage_topic' %}">Manage Topics</a></li>
        </ul>
    </div>
    <div class="admin-content">
        <div class="button-group">
            <a href="{% url 'add_post' %}" class="btn btn-big admin">Add Post</a>
            <a href="{% url 'manage_post' %}" class="btn btn-big admin">Manage Post</a>
        </div>
        <div class="content">
            <h2 class="page-title">Manage Posts</h2>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.media}}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-bit btnAddPost" style="margin-top: 30px; margin-bottom:100px;">Save Post</button>
                </form>

                
        </div>
    </div>
</div>
{% endblock %}
