*{
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    padding: 0px;
    margin: 0px;
    background: #f6f6f6;
    scroll-behavior: smooth;
}
    

h1,h2,h3,h4,h5,h6{
    /* font-family: 'Candal',sans-serif; */
    color: #444;
    margin: 5px;
}
a{
    text-decoration: none;
}
.clearfix::before{
    content: '';
    display: block;
    clear: both;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.btn{
    padding: 12px 16px;
    background: #006669;
    color: white;
    border: 1px solid transparent;
    border-radius: 4px;
}
.text-input{
    padding: .7rem 1rem;
    display: block;
    width: 100%;
    border-radius: 5px;
    outline: none;
    color: #444;
    line-height: 1.5rem;
    border: 1px solid #e0e0e0;
    font-size: 1.2rem;
    
}
.btn:hover{
    color: white !important;
    background: #005255;
}
header{
    background: #008489;
    height: 65px;
}
header *{
    color: white;
}
header a{
    text-decoration: none;
}
header .logo{
    float: left;
    height: inherit;
    margin-left: 10px;
}
header .logo-text{
    margin: 11px;
    font-family: 'Candal', sans-serif;
}
header .logo-text span{
    color: #08e5f1;
}
header .menu-toggle{
    display: none;
}
header ul{
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}
header ul li{
    float: left;
    position: relative;
}
header ul li ul{
    position: absolute;
    top: 65px;
    right: 0;
    width: 180px;
    display: none;
    left: 0;
    z-index: 999;
}
header ul li:hover ul{
    display: block;
}
header ul li ul li{
    width: 100%;
}
header ul li ul li a{
    padding: 10px;
    background: white;
    color: #444;
}
header ul li ul li .logout{
    color: red;
}

header ul li ul li a:hover{
    background: #006669;
}
header ul li a{
    display: block;
    padding: 21px;
    font-size: 18px;
}
header ul li a:hover{
    background: #117679;
    transition: 0.5s;   
}

/* post-slider */
.page-wrapper{
    margin-top: 20px;
    min-height: 500px;
}
.page-wrapper a:hover{
    color: #006669;

}
.post-slider{
    position: relative;
}
.post-slider .slider-title{
    text-align: center;
    margin: 30px auto;
}
.post-slider .next{
    position: absolute;
    top: 50%;
    right: 80px;
    font-size: 32px;
    color: #006669;
    cursor: pointer;
}
.post-slider .prev{
    position: absolute;
    top: 50%;
    left: 80px;
    font-size: 32px;
    color: #006669;
    cursor: pointer;
}
.post-slider .post-wrapper{
    width: 84%;
    margin: 0px auto;
    height: 400px;
    overflow: hidden;
    padding: 10px 0px 10px 0px;

}
.post-slider .post-wrapper .post{
    height: 400px;
    width: 300px;
    display: inline-block;
    background: white;
    margin: 0 10px;
    border-radius: 5px;
    box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;
}
.post-slider .post-wrapper .post .slider-image{
    width: 100%;
    height: 250px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.post-slider .post-wrapper .post .post-info{
    height: 130px;
}
.post-slider .post-wrapper .post .post-info h4{
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 34px;
    margin: 0 auto;
    font-size: 16 px;
    line-height: 1;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.post-slider .post-wrapper .post .post-info i{
    margin-top: 20px;
}

/* content  */
.content{
    width: 90%;
    height: 100%;
    margin: 50px auto 30px;
}

.content .main-content{
    width: 70%;
    float: left;
}
.content .main-content.single{
    background: white;
    padding: 20px 50px;
    font-size: 1.1em;
    border-radius: 5px;

}
.content .main-content.single .post-title{
    text-align: center;
    margin-bottom: 40px;
}
.content .main-content .recent-post-title{
    margin: 20px;
}
.content .main-content .post{
    width: 95%;
    height: 270px;
    margin: 20px auto;
    border-radius: 5px;
    background: white;
    position: relative;
}
.content .popular .post{
    border-top: 1px solid #e0e0e0;
    margin-top: 10px;
    padding-top: 10px;
}
.content .popular .post img{
    height: 60px;
    width: 80px;
    float: left;
    margin-right: 10px;
}
.content .main-content .post .read-more{

    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 1px solid #005255;
    background: transparent;
    border-radius: 0px;
    color: #005255 !important;
}
.content .main-content .post .read-more:hover{
    background: #006669;
    color: white !important;
    transition: .25s;
}
.content .main-content .post .post-preview{
    width: 60%;
    padding: 10px;
    float: right;
}
.content .main-content .post .post-preview h2{
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 50px;
    margin: 0 auto;
    font-size: 16 px;
    line-height: 1;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content .main-content .post .post-preview i{
    margin-top: 14px;
    margin-bottom: 14px;
}
.content .main-content .post .post-preview .post-preview-text{
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 50px;
    margin: 0 auto;
    font-size: 14 px;
    line-height: 1;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


.content .main-content .post .post-img{
    width: 40%;
    height: 100%;
    float: left;
}
.content .sidebar{
    width: 30%;
    float: left;
    height: 300px;
}
.content .sidebar.single{
    padding: 0px 10px;
    margin-bottom: 500px;
}
.content .sidebar .section{
    background: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.content .sidebar .section.search{
    margin-top: 76.4px;
}
.content .sidebar .section-title{
    margin-bottom: 10px;
}
.content .sidebar .section.topic ul{
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid #e0e0e0;
}
.content .sidebar .section.topic ul li a{
    display: block;
    padding: 15px 0;
    font-size: 20px;
    border-bottom: 1px solid #e0e0e0;
}
.content .sidebar .section.topic ul li a:hover{
    padding-left: 20px;
    transition: .5s;
}
/* footer */
.footer{
    background: #303036;
    color: #d3d3d3;
    height: 400px;
    margin-top: 100px;
}
.footer .footer-content{
    display: flex;
    height: 400px;
}
.footer .footer-content .footer-section{
    flex: 1;
    padding: 50px;
}
.footer .footer-content h1,
.footer .footer-content h2{
    color: white;
    margin-bottom: 20px;
}
.footer .footer-content .about h1 span{
    color: #05f7ff;

}
.footer .footer-content .about .contact span{
    display: block;
    font-size: 16px;
    margin: 8px 0;
}
.footer .footer-content .about .socials a{
    border: 1px solid gray;
    width: 45px;
    height: 41px;
    padding-top: 7px;
    padding-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    border-radius: 5px;
    color: #686868
}
.footer .footer-content .about .socials a:hover{
    cursor: pointer;
    border: 1px solid white;
    color: white;
    transition: .3s;
}

.footer .footer-content .links{
    display: flex;
    
}
.footer .footer-content .links .col{
    margin-top: 44px;
    margin-left: 25px;
}
.footer .footer-content .links ul a{
    display: block;
    margin-bottom: 20px;
    font-size: 18px;  
    text-decoration: none;
    list-style: none;
    color: white;
    
}
.footer .footer-content .links ul a:hover{
    color: #444;
}

.footer .footer-content .contact-form .contact-input{
    background: #272727;
    color: #bebdbd;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .7rem 1.2rem;
    border: none;
}
.btn-big{
    padding: .7rem 1.3rem;
    line-height: 1.3rem;
    float: right;
}


/* Register  */
.auth-content{
    width: 30%;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
}
.auth-content .form-title{
    text-align: center;
}
.auth-content form div{
    margin-bottom: 10px;
}
.auth-content form p{
    text-align: center;
}
.auth-content form p a{
    text-decoration: none;
}

.pagination{
    text-align: center;
    user-select: none;
    list-style: none;
    margin-top: 30px;
}
.pagination a:hover{
    color: #272727;
}
.pagination li{
    display: inline-block;
    margin: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
}
.pagination li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    line-height: 45px;
    padding: 10px;
}
.previous-page, .next-page{
    background: #006669;
    width: 80px;
    border-radius: 45px;
    cursor: pointer;
    transition: 0.3s ease;
}
.previous-page:hover{
    transform: translateX(-10px);
}
.next-page:hover{
    transform: translateX(10px);
}
.current-page, .dots{
    background: #ccc;
    width: 45px;
    border-radius: 45px;
    cursor: pointer;
}
.active{
    background:#006669 ;
}
.disable{
    pointer-events: none;
    background: #ccc;
    cursor: pointer;
}



